<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>

<% if (mustLogin) { %>
<p>Please login.</p>
<% } %>

<% if (logined) { %>

<a href="/auth/logout">Logout</a>
<p>Hi, <%= user.displayName %>.</p>

<a href="/timeline">Timeline</a>

<% } else { %>

<p>Let's play with login.</p>
<a href="/auth/twitter">Login</a>

<% } %>


</body>

</html>